@use 'sass:color';
//$color1: #16325B;

$color1: #a74d14;
$color1: #1e3277;
$color1: #1b4157;

$color2: color.adjust($color1, $hue: -90);
$color3: color.adjust($color1, $hue: 60, $lightness: -10%);
$color4: color.adjust($color1, $hue: 25, $saturation: 10%);
$color5: color.adjust($color1, $hue: -30, $saturation: -20%);
//$color5: color.adjust($color1, $hue: -30);

$shift: 20;
$color2: color.adjust($color1, $hue: -$shift);
$color3: color.adjust($color1, $hue: $shift);
$color4: color.adjust($color1, $hue: 3 * $shift);
$color5: color.adjust($color1, $hue: - (3 * $shift));


// $shift: 30;
// $color2: color.adjust($color1, $hue: -$shift);
// $color3: color.adjust($color1, $hue: $shift);
// $color4: color.adjust($color1, $hue: 180);
// $color5: color.adjust($color1, $hue: 0);

div.color1 {
  height: 40px;
  background: $color1;
}
div.color2 {
  height: 40px;
  background: $color2;
}
div.color3 {
  height: 40px;
  background: $color3;
}
div.color4 {
  height: 40px;
  background: $color4;
}
div.color5 {
  height: 40px;
  background: $color5;
}

$body-light: 97%;

$colors: (
  // ------------------------------------------------------------------------------
  // Groupings (assemblages, etc...)

  "groupbody": color.change($color1, $lightness: $body-light),
  "groupborder": $color1,
  "groupheadcolor": white,

  "assembbody": color.change($color2, $lightness: $body-light),
  "assembborder": $color2,

  "proofbody": color.change($color3, $lightness: $body-light),
  "proofborder": $color3,

  "definitionbody": var(--groupbody),
  "definitionborder": var(--groupborder),

  "theorembody": color.change($color3, $lightness: $body-light),
  "theoremborder": $color3,

  "examplebody": var(--groupbody),
  "exampleborder": var(--groupborder),

  "projectbody": var(--groupbody),
  "projectborder": var(--groupborder),

  "investigatebody": var(--groupbody),
  "investigateborder": var(--groupborder),
  
  "remarkbody": color.change($color5, $lightness: $body-light),
  "remarkborder": $color5,

  "computationbody": var(--groupbody),
  "computationborder": var(--groupborder),

  "commentarybody": var(--groupbody),
  "commentaryboder": var(--groupborder),

  "solutionbody": var(--groupbody),
  "solutionborder": var(--groupborder),

  "assidebody": var(--knowlbackground),
  "assideborder": var(--groupborder),

  "goalbody": color.change($color4, $lightness: $body-light),
  "goalborder": $color4,
);