// Implements a palette with one main --primary-color used in a very sparing fashion

@use "sass:meta";
@use "sass:color";
@use "sass:map";
@use "colors/color-helpers" as colorHelpers;
@use "colors/color-vars" as color-vars;

$primary-color: #2a5ea4 !default;

// Start with values from color-vars
$colors: map.merge(
  color-vars.$colors, ()
);

// Compute color blends and add them as variables
$blends: colorHelpers.get-blends('primary-color');
$colors: map.merge(
  $colors,
  $blends
);

// Override some colors
$colors: map.merge(
  $colors,
  (
    "primary-color": $primary-color,

    "linkColor": var(--primary-color),
    "linkActive": var(--primary-color-white-40),
    "linkBackground": var(--background-color-gray-30),
    "altLinkColor": var(--linkColor),
    "altLinkActive": var(--linkActive),

    "bannerbackground": "#fafafa",

    "tocborder": #c9c9c9,
    "toc-text": var(--primary-color-black-30),
    "tocitem-background": #f2f2f2,

    "tocitem-active": var(--primary-color),
    "tocitem-highlight": var(--primary-color-white-10),

    "toclevel1": var(--primary-color-white-90),
    // "toclevel2": #fafafa,
    // "toclevel3": #fff,

    "documenttitle": var(--primary-color),
    "bodytitle": "black",

    "knowlbackground": #f8f8f8,
    "knowlNested1Background": var(--knowlbackground),
    "knowlNested2Background": var(--knowlbackground),
    "knowlNested3Background": var(--knowlbackground),
    "knowlNested4Background": var(--knowlbackground),
    "knowlborder": var(--primary-color-gray-80),
    "groupborder": black,

    "goalborder": var(--primary-color-white-20),
  )
);