// Implements a palette with one main --primary-color
// Less dramatic _palette-single.scss

@use "sass:meta";
@use "sass:color";
@use "sass:map";
@use "colors/color-helpers" as colorHelpers;
@use "colors/color-vars" as color-vars;

$primary-color: #2a5ea4 !default;

// Start with values from color-vars
$colors: map.merge(
  color-vars.$colors, ()
);

// Compute color blends and add them as variables
$blends: colorHelpers.get-blends('primary-color');
$colors: map.merge(
  $colors,
  $blends
);

$slate: #3a3a3a;

// Override some colors
$colors: map.merge(
  $colors,
  (
    "primary-color": $primary-color,

    //Not really minimal anymore...
    "linkColor": var(--primary-color),
    "linkActive": var(--primary-color-white-40),
    "linkBackground": var(--background-color-gray-30),
    "altLinkColor": var(--linkColor),
    "altLinkActive": var(--linkActive),

    "toc-text": "var(--primary-color-black-30)",
    "parttoctext": "var(--toc-text)",
    "parttoc": "#fff",

    "parttocactive": "var(--primary-color-white-15)",

    "chaptertoc": "var(--parttoc)",
    "documenttitle": "var(--primary-color)",
    "toc-border": "var(--primary-color-gray-10)",
    "bannerbackground": "#fff",
    "sectiontoc": "#fff",
    "bodytitle": "var(--primary-color-black-20)",
    "knowlbackground": #f8f8f8,
    "knowlborder": var(--primary-color-gray-80),

    "navbarbackground": "var(--primary-color)",
    "buttonbackground": "var(--primary-color)",
    "buttonborder": $slate,
    "buttonforeground": "var(--primary-color-white-90)",
    "buttonhover": $slate,

    "highlighttoc": $slate,
    "highlighttoctext": "#fff",
    "highlighttocborder": $slate,
  )
);