// Implements a palette with one main --primary-color

@use "sass:meta";
@use "sass:color";
@use "sass:map";
@use "colors/color-helpers" as colorHelpers;
@use "colors/color-vars" as color-vars;

$primary-color: #2a5ea4 !default;

// Start with values from color-vars
$colors: map.merge(
  color-vars.$colors, ()
);

// Compute color blends and add them as variables
$blends: colorHelpers.get-blends('primary-color');
$colors: map.merge(
  $colors,
  $blends
);

// Override some colors
$colors: map.merge(
  $colors,
  (
    "primary-color": $primary-color,

    "bannerbackground": "#fafafa",

    "linkColor": var(--primary-color),
    "linkActive": var(--primary-color-white-40),
    "linkBackground": var(--background-color-gray-30),
    "altLinkColor": var(--linkColor),
    "altLinkActive": var(--linkActive),

    "tocborder": var(--primary-color-white-80),

    "toc-text": var(--primary-color-black-30),

    "tocitem-active": var(--primary-color-white-15),
    "tocitem-highlight": var(--primary-color-white-15),

    "toclevel2": var(--primary-color-white-95),
    "toclevel3": var(--primary-color-white-90),

    "documenttitle": var(--primary-color),
    "bodytitle": var(--primary-color-black-20),
    "buttonhover": var(--primary-color-white-80),
    "assembborder": var(--primary-color-white-50),

    "groupheadcolor": white,
    "knowlbackground": var(--primary-color-white-95),
    "knowlborder": var(--primary-color),
  )
);