
$palette: 'dual' !default;

.hide-type .codenumber:not(:empty)::after {
    content: " -";
}

.ptx-content section > .heading.hide-type {
  background: var(--primary-color);
  //background: #3a3a3a;
  padding: 5px;
  padding-left: 15px;
  color: white;
}

@if $palette != 'dual' {

} @else {

}

:root.dark-mode {
    .ptx-content section > .heading.hide-type {
        border-bottom-color: var(--primary-color-black-30);
    }
}
