$border-radius: 2px !default;

// One stop include for heading-box dominant content blocks
@use 'asides-floating';
@use 'codelike';
@use 'exercises';
@use 'solutions';
@use 'sidebyside';
@use 'knowls' with (
  $border-radius: $border-radius,
  $border-width: 3px,
  $pad: 12px
);

@use './helpers/box-mixin' with ($border-radius: $border-radius);
@use './helpers/heading-box-mixin' with (
  $border-radius: $border-radius,
  $border-width: 3px,
  $pad: 12px,
  $margin-top: 2.5em,
  $heading-color: var(--groupheadcolor),
  $heading-background: var(--groupborder)
);

@use './helpers/sidebar-mixin' with ($border-width: 4px);
@use './helpers/C-box-mixin' with (
  $border-radius: $border-radius,
  $border-width: 3px,
  $pad: 12px
);

.theorem-like {
  @include heading-box-mixin.box(
    $background-color: var(--theorembody),
    $border-color: var(--theoremborder),
    $heading-background: var(--theoremborder),
  );
}

.assemblage-like {
  @include heading-box-mixin.box(
    $background-color: var(--assembbody),
    $border-color: var(--assembborder),
    $heading-background: var(--assembborder),
  );
}

.project-like {
  & > .heading {
    font-style: italic;
  }
  @include heading-box-mixin.box(
    $background-color: var(--projectbody),
    $border-color: var(--projectborder),
    $heading-background: var(--projectborder)
  );
}

.project-like.investigation {
  & > .heading {
    font-style: italic;
  }
  @include heading-box-mixin.box(
    $background-color: var(--investigatebody),
    $border-color: var(--investigateborder),
    $heading-background: var(--investigateborder)
  );
}


.proof {
  @include sidebar-mixin.box(
    $border-color: var(--proofborder),
    $background-color: var(--proofbody),
    $padding: 10px,
    $border-radius: $border-radius,
  );
}


.remark-like {
  @include sidebar-mixin.box(
    $border-color: var(--remarkborder),
    $background-color: var(--remarkbody),
    $padding: 10px,
    $border-width: 6px,
    $border-radius: $border-radius,
  );
}

.goal-like {
  @include heading-box-mixin.box(
    $background-color: var(--goalbody),
    $border-color: var(--goalborder),
    $heading-background: var(--goalborder)
  );
}

.example-like {
  @include C-box-mixin.box(
    $border-color: var(--exampleborder),
    $heading-background: var(--exampleborder)
  );
}

.exercise-like {
  @include C-box-mixin.box(
    $border-color: var(--exampleborder),
    $heading-background: var(--exampleborder)
  );
}

.computation-like {
  @include C-box-mixin.box(
    $border-color: var(--computationborder),
    $heading-background: var(--computationborder)
  );
}
