$border-radius: 0 !default;

// One stop include for heading-box dominant content blocks
@use 'asides-floating';
@use 'codelike';
@use 'exercises';
@use 'solutions';
@use 'sidebyside';
@use 'knowls' with ($border-radius: $border-radius);

@use './helpers/box-mixin' with ($border-radius: $border-radius);
@use './helpers/heading-box-mixin' with (
  $border-radius: $border-radius,
  $margin-top: 2.5em,
  $heading-color: var(--groupheadcolor),
  $heading-background: var(--groupborder)
);
@use './helpers/sidebar-mixin' with ($border-width: 4px);
@use './helpers/C-box-mixin' with ($border-radius: $border-radius);
@use './helpers/horizontal-bars-mixin';
@use './helpers/inline-heading-mixin';


.theorem-like {
  @include heading-box-mixin.heading-box(
    $background-color: var(--theorembody),
    $border-color: var(--theoremborder),
    $heading-background: var(--theoremborder),
  );

}

.assemblage-like {
  @include heading-box-mixin.heading-box(
    $background-color: var(--assembbody),
    $border-color: var(--assembborder),
    $heading-background: var(--assembborder),
  );
}

.project-like {
  & > .heading {
    font-style: italic;
  }

  @include heading-box-mixin.heading-box(
    $background-color: var(--projectbody),
    $border-color: var(--projectborder),
    $heading-background: var(--projectbody),
    $heading-color: var(--bodyfontcolor),
  );
}


.proof {
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;

  &::after {
    content: "QED";
    font-size: smaller;
    font-style: italic;
    font-variant: small-caps;
    float: right;
  }

  .heading {
    display: inline;
    font-size: unset;
    font-weight: bolder;
  }

}

.solution-like {
  .heading {
    display: inline;
    font-style: italic;
    font-size: unset;
  }
}

.remark-like {
  @include sidebar-mixin.sidebar(
    $border-color: var(--remarkborder),
    $background-color: var(--remarkbody),
    $padding: 10px,
    $border-width: 6px,
    $border-radius: $border-radius,
  );
}

.goal-like {
  @include horizontal-bars-mixin.bars(
    $background-color: var(--goalbody),
    $border-color: var(--goalborder),
    $font-style: italic,
    $padding: 0.7em
    );
}


// // undo inline headings created elsewhere... refactor
// .example-like,
// .proof,
// .exercise-like,
// .computation-like,
// .remark-like,
// .assemblage-like,
// .computation-like,
// .theorem-like:not(.theorem),
// .definition-like {
//   & > .heading {
//     display: block;
//   }
//   & > .heading + * {
//     margin-top: 0.75em;
//     display: block !important;
//   }
// }

.example-like {
  @include C-box-mixin.C-box(
    $border-color: var(--assembborder),
    $heading-background: var(--assembborder)
  );
}


.exercise-like.born-hidden-knowl {
  @include C-box-mixin.C-box-knowl(
    $border-color: var(--exerciseborder),
    $heading-background: var(--exerciseborder)
  );
}


.exercise-like:not(.project-like .exercise-like, .exercise-like .exercise-like, .exercises .exercise-like, .reading-questions .exercise-like, .task) {
  @include C-box-mixin.C-box(
    $border-color: var(--exampleborder),
    $heading-background: var(--exampleborder)
  );
}


.computation-like {
  @include C-box-mixin.C-box(
    $border-color: var(--computationborder),
    $heading-background: var(--computationborder)
  );
}

/* No decorations/borders in knowls, to save space */
.knowl__content {
  border: none;
  .theorem-like,
  .definition-like,
  .example-like,
  .project-like,
  .remark-like,
  .openproblem-like,
  .computation-like,
  .project-like,
  .commentary {
    padding-left: 0;
    margin-left: 0;
    border-left: none;

    &::after {
      border-bottom: none;
      display: none;
    }
  }
}


article {
  @include inline-heading-mixin.inline-head;
}
