/*
  main knowls styles
*/

$border-radius: 8px !default;

.knowl__link {
  cursor: pointer;
  margin-left: 0.1em;
  margin-right: 0.1em;
  color: var(--knowlLinkColor);
  border-bottom: 1px dotted var(--knowlLinkColor);
}

summary.knowl__link {
  display: list-item inline;
}

.knowl__link > * {
  display: inline;
}


.knowl__link:is(:hover, :focus, [open]) {
  background-color: var(--knowlbackground);
  border-bottom-color: transparent;
}

.knowl__content {
  margin: 0.75em 0;  //at least this much space above/below
  border: 6px solid var(--knowlborder);
  border-radius: $border-radius;
  padding: 0.8em;
  background-color: var(--knowlbackground);

  .incontext {
    display: block;
    font-size: 85%;
    text-align: right;
  }
}

/* nested knowl alt colors */
.knowl__content .knowl__content {
  background-color: var(--knowlNested1Background);
}

.knowl__content .knowl__content .knowl__content {
  background-color: var(--knowlNested2Background);
}

.knowl__content .knowl__content .knowl__content .knowl__content {
  background-color: var(--knowlNested3Background);
}

.knowl__content .knowl__content .knowl__content .knowl__content .knowl__content {
  background-color: var(--knowlNested4Background);
}


/* spacing tweaks inside knowls */
.knowl__content > figure {
  margin-left: 0;
  margin-right: 0;
}