/* We can style all the *-like environments:
    definition-like,
    theorem-like,
    example-like,
    project-like,
    remark-like,
    computation-like,
    goal-like, and
    assemblage-like.
  We also could do something for proofs, and commentary.

  We define the style of environments in three steps: first the shape, then the color, and finally the shape and color of the heading/title.  The only reason to group these as such is that we can then have a common shape for differet *-like elements, but still allow for different colors to distinguish them.

  Start with the important custom environments (theorem might be different from the other theorem-like, etc.), then clean up any standard *-like.
*/



// :root {
//   /* Set colors for environments */
//   --assembbody: var(--bluelight, hsl(210, 90%, 90%));
//   --assembborder: var(--blue, hsl(210, 40%, 60%));
//   --assembhead: var(--blue, hsl(210, 40%, 75%));
//   --definitionbody: var(--greenlight, hsl(180, 40%, 90%))!important;
//   --definitionborder: var(--green, hsl(180, 40%, 50%))!important;
//   --definitionhead: var(--green, hsl(180, 40%, 50%))!important;
//   --theorembody: var(--violetlight, hsl(270, 40%, 90%));
//   --theoremborder: var(--violet, hsl(270, 40%, 75%));
//   --theoremhead: var(--violetdark, hsl(270, 40%, 25%));
//   --examplebody: var(--bluedull, hsl(240, 40%, 90%));
//   --exampleborder: var(--bluedark, hsl(240, 40%, 25%));
//   --examplehead: var(--exampleborder);
//   --examplelikebody: var(--examplebody);
//   --examplelikeborder: var(--bluedull, hsl(240, 40%, 75%));
//   --examplelikehead: var(--examplelikeborder);
//   --projectbody: var(--greenlight, hsl(180, 40%, 90%));
//   --projectborder: var(--green, hsl(180, 40%, 75%));
//   --projecthead: var(--green, hsl(180, 40%, 75%));
//   --investigateborder: var(--bluerich, hsl(180, 40%, 25%));
//   --goalborder: var(--violetrich, hsl(270, 90%, 25%));
//   --goalbody: var(--mainbackground);
//   --remarklikebody: var(--yellowlight, hsl(330, 55%, 90%));
//   --remarklikeborder: var(--yellow, hsl(330, 55%, 50%));
//   --remarklikehead: var(--yellow, hsl(330, 55%, 50%));
//   --computationborder: var(--orangedull, hsl(180, 40%, 75%));
//   /* temporary workaround for setcolors.css use of assemblage */
//   --asemblagebackground: var(--assembbody) !important;
//   --assemblageborder: var(--assembborder) !important;
// }


/* definitions, theorems, assemblages, with theorem-like.theorem distinguished */
.ptx-content article.assemblage-like,
.ptx-content article.definition-like,
.ptx-content article.theorem-like.theorem {
  margin-top: 1.75em;
  padding: 1em;
  border-radius: 2px;
  margin-bottom: 1em;
}

.ptx-content article.theorem-like {
  margin-top: 1.25em;
  padding: 1em;
  border-radius: 2px;
  margin-bottom: 1em;
}

.ptx-content article.assemblage-like {
  background-color: var(--assembbody);
  border: 2px solid var(--assembborder);
}

.ptx-content article.definition-like {
  background-color: var(--definitionbody);
  border: 2px solid var(--definitionborder);
}

.ptx-content article.theorem-like.theorem,
.ptx-content article.theorem-like {
  background-color: var(--theorembody);
  border: 2px solid var(--theoremborder);
}

.ptx-content article.assemblage-like .heading,
.ptx-content article.definition-like .heading,
.ptx-content article.theorem-like.theorem .heading {
  margin-top: -1.75em;
  margin-left: -0.25em;
  display: table;
  padding: 0.25em 0.4em;
}

.ptx-content .assemblage-like .heading {
  background-color: var(--assembborder);
}

.ptx-content .definition-like .heading {
  background-color: var(--definitionborder);
}

.ptx-content .theorem-like.theorem .heading {
  background-color: var(--theoremborder);
}

.ptx-content .example-like > .heading + .introduction,
.ptx-content .computation-like > .heading + .introduction,
.ptx-content .assemblage-like .heading + .para,
.ptx-content .computation-like > .heading + .para,
.ptx-content .example-like .heading + .para,
.ptx-content .theorem-like.theorem .heading + .para,
.ptx-content .definition-like .heading + .para {
  display: block;
  margin-top: 0.25em;
}

/* Examples and example-like; computation-like styled same as example-like with different colors */
.ptx-content article.example-like,
.ptx-content article.computation-like {
  padding-left: 0.8em;
  padding-bottom: 0.5em;
}

.ptx-content article.example-like.example {
  border-left: 0.1em solid var(--examplehead);
  border-bottom: 0.1em solid var(--examplehead);
}

.ptx-content article.example-like {
  border-left: 0.1em solid var(--examplelikeborder);
  border-bottom: 0.1em solid var(--examplelikeborder);
}

.ptx-content article.computation-like {
  border-left: 0.1em solid var(--computationborder);
  border-bottom: 0.1em solid var(--computationborder);
}

.ptx-content .example-like > .heading,
.ptx-content .computation-like > .heading {
  display: inline-block;
  padding: 0.3em 0.5em;
  margin-left: -0.8em;
}


.ptx-content .example-like.example > .heading {
  border: 0.1em solid var(--examplehead);
  /* maybe no border-left? */
  background: var(--examplehead);
  color: white;
}

.ptx-content .example-like > .heading {
  background: var(--examplelikeborder);
}

.ptx-content .computation-like > .heading {
  background: var(--computationborder);
}

/* Project-like */
.ptx-content article.project-like {
  background-color: var(--mainbackground);
  border: solid 3px var(--projectborder);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1em;
}

.ptx-content article.project-like.investigation {
  border-color: var(--investigateborder);
}

.ptx-content article.project-like > .heading {
  margin-top: -1.5em;
  background-color: var(--mainbackground);
  display: table !important;
  padding: 5px 1em;
  margin-left: 10px;
  font-style: italic;
  font-size: 120% !important;
}


/* Goal-like */

.ptx-content .goal-like {
  background-color: var(--goalbody);
  border-radius: 0em;
  padding: 0.7em;
  margin-bottom: 1em;
}

.ptx-content .goal-like.objectives {
  border-top: solid 3px var(--goalborder);
  border-bottom: solid 3px var(--goalborder);
  border-left: none;
  border-right: none;
}

.ptx-content .goal-like.outcomes {
  border-top: solid 3px var(--goalborder);
  border-bottom: solid 3px var(--goalborder);
  border-left: none;
  border-right: none;
}

.ptx-content .goal-like .heading {
  margin-top: -1.5em;
  background-color: var(--goalbody);
  display: table;
  padding: 5px 1em;
  margin-left: 10px;
  font-style: italic;
  font-size: 120%;
}

/* remark-like */

.ptx-content article.remark-like {
  margin-top: 1.25em;
  padding: 1em;
  padding-top: 0.7em;
  margin-bottom: 1em;
  border-radius: 0px;
  border-left: 5px solid var(--remarklikeborder);
  background-color: var(--remarklikebody);
}


/* proofs */

.ptx-content section > .proof {
  margin-bottom: 1em;
}
