/*******************************************************************************
 * shell_X.css controls the overall arrangement of the blocks on the page.
 *******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */

/* The overall structure is
  html
    head
    body.pretext
      header.ptx-masthead
      nav.ptx-navbar
      div.ptx-page
        div.sidebar
          nav.ptx-toc
        main.ptx-main
          div.ptx-content
          div.ptx-content-footer
      div.ptx-page-footer
*/

@use 'components/helpers/buttons-default' as buttons;

$body-max-width: 600px;
$sidebar-width: 240px;
$nav-height: 36px;
$body-side-margin: 48px;

.ptx-sidebar {
  position: sticky;
  top: $nav-height;
  left: 0;
  float: left;
  border-left: 1px solid var(--page-border-color);
}

.ptx-main {
  display: block;
  position: relative;
  overflow-y: hidden;
  margin: 0 0 0 $sidebar-width;
  padding: 0;
  background: var(--mainbackground, white);
  transition-property: margin-left;
  transition-duration: 0.3s;
}

.ptx-sidebar.hidden + .ptx-main {
  margin-left: 0;
}

.toc-item {
  border-top: 1px solid var(--tocborder);
}

.ptx-toc.focused .toc-title-box > a:hover {
  border-right: 1px solid var(--highlighttocborder);
}

.ptx-toc.focused .toc-expander:is(:hover) {
    border-left: 1px solid var(--highlighttocborder);
}

.toc-part,
.toc-chapter {
  border-top: 1px solid var(--tocborder);
}

/* Extra border above top level items */
.ptx-toc > .toc-item-list > .toc-item {
  border-top: 2px solid var(--tocborder, #d1d1d1);
}

// ptx-main ensures iframe pages don't get these margins
.ptx-main > .ptx-content {
  max-width: $body-max-width;
  margin: 32px $body-side-margin;
  min-height: 60vh;
}

.ptx-navbar {
  .button {
    border-left-width: 1px;
    border-right-width: 1px;
    margin-left: -1px;  //prevent double borders on neighbors
  }
}

// heading followed by no content and then a subsection that starts with heading
section > .heading + section > .heading {
  margin-top: 0.5em;
}

// more genorous spacing for sections/articles
section>*:not(:first-child) {
  margin-top: 1.5em;
}
article>*:not(:first-child):has(.heading) {
  margin-top: 1.5em;
}


@media screen and (max-width: 800px) {
  .ptx-main {
    margin-left: 0;
    left: auto;
  }
  .ptx-page-footer {
    // Make space for navbar fixed to bottom of screen
    margin-bottom: $nav-height;
  }
  .ptx-sidebar {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: var(--mainbackground);
    bottom: $nav-height;
  }
  .ptx-content-footer {
    display: none;
  }
}



@media screen and (max-width: $body-max-width + 2 * $body-side-margin) {
  .ptx-page > .ptx-main .ptx-content {
    // Decrease the side margins once out of room
    margin-left: 28px;
    margin-right: 28px;
  }
}

/*******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */
