@use 'rs-fixes';


// since tox is wider, avoid overly large logo
.ptx-toc::after {
  max-width: 100px;
  margin: 0 auto;
}

.ptx-content table tr td {
  font-size: 1rem;
}

.pretext .ptx-content-footer {
  align-items: stretch;
}


$grouping-elements: ".theorem-like, .definition-like, .example-like, .project-like, .remark-like, .openproblem-like, .openproblems-like, .computation-like";

/*change margin to px to avoid font size issues */
.ptx-content
  article:is(
    #{$grouping-elements}
  )::after {
  margin-left: -10px;
}

.video-box {
  margin: 0.75em auto !important;
}

.ac_code_div {
  margin-top: 10px;
}

.pretext .ptx-runestone-container .ac_actions {
  max-width: var(--content-width);
  margin: 0 auto;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.pretext .ptx-runestone-container .ac_actions > * {
  flex: 0 1;
  margin: 0 !important;
}


.pretext .ptx-runestone-container .ac_actions > div:first-of-type {
  display: flex !important;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  flex-grow: 1;
}

.ptx-runestone-container .unittest-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ptx-content pre.program.line-numbers,
.ptx-content pre.code-block.line-numbers {
  overflow-x: auto;
}

.hparsons_section {
  max-width: unset !important;
}

.hparsons_section > :not(.hparsons_section, .hp_question) {
  max-width: unset !important;
}

.ptx-runestone-container .hparsons_section .hp_question {
  max-width: var(--content-width);
}

.matching_section > div > div {
  font-size: 1rem;
  clear: both;
}
.matching_section > div > div:first-of-type {
  font-size: var(--content-font-size);
}

@media screen and (max-width: 600px) {
  .pretext .ptx-runestone-container .ac_actions > * {
    white-space: break-spaces;
    flex-grow: 1;
  }
}
