// These values can be set on @use to avoid repeating values in each @import
$pad: 20px !default;
$border-radius: 0px !default;
$border-width: 3px !default;
$font-style: 'normal' !default;
$box-padding: 5px !default;
$background-color: var(--mainbody) !default;
$border-color: var(--groupborder) !default;
$heading-background: var(--groupborder) !default;
$heading-color: var(--groupheadcolor) !default;

// Block title and left/bottom wrapper
@mixin box($border-width: $border-width,
  $background-color: $background-color,
  $border-color: $border-color,
  $heading-background: $heading-background,
  $heading-color: $heading-color,
  $padding: $pad,
  $font-style: $font-style,
  $border-radius: $border-radius,
  $box-padding: $box-padding,
  $hide-number: false)
{
  
  &:not(.knowl__content, .born-hidden-knowl) {
    border-left: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;
    background-color: $background-color;
    padding: 0 $pad $pad;

    @if $border-radius > 0 {
      border-bottom-left-radius: $border-radius;
    }

    & > .heading {
      background-color: $heading-background;
      display: inline-block;
      color: $heading-color;
      padding: $box-padding (2 * $box-padding);
      margin-left: -$padding;
      margin-left: -$padding;
      margin-top: 0;

      @if $font-style != 'normal' {
        font-style: $font-style;
      }

      @if $hide-number {
        .codenumber {
          display: none;
        }
      }

      @if $border-radius > 0 {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      &:after {
        //disable any extra junk
        display: none;
      }
    }
  }
}

// Block title and left/bottom wrapper
@mixin knowl($border-width: 3px,
  $background-color: $background-color,
  $border-color: $border-color,
  $heading-background: $heading-background,
  $heading-color: $heading-color,
  $padding: $pad,
  $font-style: $font-style,
  $border-radius: $border-radius,
  $box-padding: $box-padding,
  $hide-number: false)
{
    border-left: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;
    background-color: $background-color;
    padding: 0 $pad $pad;

    @if $border-radius > 0 {
      border-bottom-left-radius: $border-radius;
    }

    & > .heading {
      background-color: $heading-background;
      display: inline-block;
      color: $heading-color;
      padding: $box-padding (2 * $box-padding);
      margin-left: -$padding;
      margin-left: -$padding;
      @if $font-style != 'normal' {
        font-style: $font-style;
      }
      @if $hide-number {
        .codenumber {
          display: none;
        }
      }
      @if $border-radius > 0 {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
      &:after {
        //disable any extra junk
        display: none;
      }
    }
  }