// Styling for elements that are allowed to expand past normal width
// even in fixed-width layouts

@mixin expandable($sidebar-width:350px, $sidebar-hidden-width:116px) {
  width: fit-content;
  min-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  max-width: calc(100vw - $sidebar-width); 

  @at-root .ptx-page:has(.ptx-sidebar.hidden) & {
    max-width: calc(100vw - $sidebar-hidden-width); 
  }
}