// Styling for elements that are allowed to expand past normal width
// even in fixed-width layouts

@mixin expandable($min-width: 100%, $base-content-width: 600px) {
  @container ptx-main (width > #{$base-content-width}) {
    min-width: $min-width;
    max-width: fit-content;
    width: calc(100cqw - 2 * var(--content-margin));
    overflow-x: auto;
    overflow-y: hidden;
  }
}