// Body level styling
$max-width: 1200px !default;  // 0 == no max width

$content-width: 600px !default;
$content-side-margin: 48px !default;
$content-side-margin-tight: 28px !default;
$sidebar-breakpoint: 856px !default;
$centered-content: false !default;

// set these up as CSS variables so they can be modifies easily at runtime
:root {
  --content-width: #{$content-width};
  --content-margin: #{$content-side-margin};
}

// hits regular pages and generated iframe pages
body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.pretext {
    color: var(--bodyfontcolor);
    font-family: var(--font-body);
  }
}

.ptx-page {
  position: relative;
  display: flex;
  flex-grow: 1;  // fill space in body
  width: 100%;
}

.ptx-main {
  flex-grow: 1;
  position: relative;
  max-width: 100%;
  container-name: ptx-main;  // for container queries elsewhere
  container-type: inline-size;  // for container queries elsewhere
}

// Base width/margins
// ptx-main ensures iframe pages don't get these margins
.ptx-main > .ptx-content {
  max-width: var(--content-width);
  margin: 32px $content-side-margin 60px;
}


@if $max-width > 0 {
  .ptx-banner,
  .ptx-page,
  .ptx-footer {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

body.pretext,
body.standalone {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--page-color, white);
}


body.pretext > a.assistive {
  padding:6px;
  position: absolute;
  top:-40px;
  left: 0px;
  color:white;
  border-right:1px solid white;
  border-bottom:1px solid white;
  border-bottom-right-radius:8px;
  background:transparent;
  z-index: 10000;

  &:focus {
    top:0px;
    background:#BF1722;
    outline:0;
    transition: top .1s ease-in, background .5s linear;
  }
}

@if $centered-content {
  .ptx-page > .ptx-main .ptx-content {
    margin-left: auto;
    margin-right: auto;
  }
}

// Decrease the side margins once out of room
@container ptx-main (width < #{$content-width + 2 * $content-side-margin}) {
  .ptx-page > .ptx-main {
    .ptx-content {
      margin-left: #{$content-side-margin-tight};
      margin-right: #{$content-side-margin-tight};
    }
  }
  :root {
    --content-margin: #{$content-side-margin-tight};
    --content-width: calc(100% - 2 * #{$content-side-margin-tight});
  }
}
