
$navbar-breakpoint: 856px !default;
$nav-height: 36px !default;

@use 'components/helpers/buttons-default' as buttons;

.ptx-content-footer {
  display: flex;
  justify-content: space-around;
  max-width: var(--content-width);
  
  //condensed margin format does not like vars
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: var(--content-margin);
  margin-right: var(--content-margin);

  .button {
    @include buttons.ptx-button;
    .icon {
      margin: 0 -7px; // current icons have lots of whitespace
    }
  }

}

.ptx-page-footer {
  background: var(--footerbackground);
  padding-top: 0;
  border-top: 2px solid var(--page-border-color);
  border-bottom: 2px solid var(--page-border-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 90px;
  position: relative;
  
  & > a {
    margin: 1em 0;
    color: var(--bodyfontcolor);
  }

  & > a > .logo:first-child {
    height: 3em;
    width: unset;
    margin: 0;
  }

  .feedback-link {
    @include buttons.ptx-button;
  }
}


@media screen and (max-width: $navbar-breakpoint) {
  .ptx-page-footer {
    // prevent icons from spreading too much
    gap: 50px;
    justify-content: center;
    margin-bottom: $nav-height - 2;
  }
}
