// Left aligned "page" that is limited to 1200px of width, beyond which it is centered

$sidebar-width: 240px !default;
$scrolling-toc: true !default;
$nav-height: 36px !default;
$content-width: 600px !default;
$content-side-margin: 48px !default;
$navbar-breakpoint: 800px !default;

$sidebar-breakpoint: $content-width + $sidebar-width + $content-side-margin * 2;

@use 'body' with (
  $content-width: $content-width,
  $content-side-margin: $content-side-margin,
  $sidebar-breakpoint: $sidebar-breakpoint,
);

@use 'banner' with (
  $navbar-breakpoint: $navbar-breakpoint,
);

@use 'navbar' with (
  $nav-height: $nav-height,
  $navbar-breakpoint: $navbar-breakpoint,
);

@use 'toc-default' with (
  $scrolling: $scrolling-toc,
  $sidebar-width: $sidebar-width,
  $sidebar-breakpoint: $sidebar-breakpoint,
  $navbar-breakpoint: $navbar-breakpoint,
);

@use 'footer' with (
  $navbar-breakpoint: $navbar-breakpoint,
);
