
$content-width: 600px;
$sidebar-width: 240px;
$nav-height: 36px;
$content-side-margin: 48px;

@use 'components/helpers/buttons-default' as buttons;

@use 'components/page-parts/parts-default' with(
  $page-centered: true,
  $scrolling-toc: false,
  $content-width: $content-width,
  $content-side-margin: $content-side-margin
);

// help links stick out
a {
  font-weight: bold;
}

.ptx-page {
  display: flex;
}

.ptx-main {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  flex-grow: 1;
}


.ptx-sidebar.hidden + .ptx-main {
  margin-left: 0;
}

.ptx-toc {
  border-right: 2px solid var(--tocborder);
}


.ptx-toc.focused {
  padding-top: 10px
}

.ptx-toc.focused .toc-expander {
  padding: 2px 0 2px 5px;
}


@media screen and (max-width: 800px) {
  .ptx-main {
    margin-left: 0;
    left: auto;
  }
  .ptx-page-footer {
    // Make space for navbar fixed to bottom of screen
    margin-bottom: $nav-height;
  }

  .ptx-sidebar {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: var(--mainbackground);
    bottom: $nav-height;
  }
  .ptx-content-footer {
    display: none;
  }
}




