@use 'lists';
@use 'toc-basics';
@use 'summary-links';
@use 'front-matter';
@use 'index';
@use 'footnotes';
@use 'tables';
@use 'media';
@use 'headings';
@use 'figures';
@use 'poem';
@use 'codelike';
@use 'prism';
@use 'runestone';
@use 'calculators';
@use 'mathjax';
@use 'webwork';
@use 'printing';
@use 'links';
@use 'worksheet';
@use 'sagecell';
@use 'permalinks';
@use 'google-search';
@use 'sidebyside';
@use 'decorative';


table + article {
    margin-top: 1em;
}


.image-box + table,
.image-box + .sidebyside > .sbsrow:first-child > .sbspanel > table:first-child {
    margin-top: 1.5em;
}


/* stacked headings in the solutions backmatter */
section > .heading + .heading,
section section > .heading + .heading {
    margin-top: 0.5em;
}
section.solutions > h3.heading,
section.solutions section > h3.heading {
    font-size: 1.6em;
}
section.solutions > h4.heading,
section.solutions section > h4.heading {
    font-size: 1.45em;
}
section.solutions > h5.heading,
section.solutions section > h5.heading {
    font-size: 1.35em;
}
section.solutions > h6.heading,
section.solutions section > h6.heading {
    font-size: 1.25em;
}

.bibitem + .bibentry {
    display: inline-block;
    width: 90%;
}
.bibitem {
    display: inline-block;
    vertical-align: top;
    width: 7%;
    margin-right: 0;
}


.definition-like .para > .emphasis {
    font-weight: 700;
}
em.alert {
    font-weight: bold;
}


section.introduction + section {
    margin-top: 2em;
}

.ptx-content {
    margin: 0;
}

section section + section {
    margin-top: 3em;
}


a > tt {
    font-size: 110%;
}

.exercise-like ol li table {
    margin-bottom: 0.5em;
}

.exercise-like > ol li + li {
    margin-top: 0.5em;
}
.solution > ol li + li {
    margin-top: 0.5em;
}


.cols2 + *, .cols3 + *, .cols4 + *, .cols5 + *, .cols6 + * {
    clear: both;
}
/* does the next line eliminate the need for the previous line? */
.cols2::after, .cols3::after, .cols4::after, .cols5::after, .cols6::after {
    content: "";
    display: block;
    clear: both;
}

section > ol:last-child,
section > ul:last-child {
    margin-bottom: 1.5em;
}
/* because of */
/* .colsN > li:last-child {
    padding-bottom: 1em;
}
*/
section > ol:last-child > li:last-child,
section > ul:last-child > li:last-child {
    padding-bottom: 0em;
}

/* does this do anything which is not accomplished by the colsN::after above? */
/* seems not
.cols2:last-child::after, .cols3:last-child::after, .cols4:last-child::after, .cols5:last-child::after, .cols6:last-child::after {
    content: "";
    display: block;
    clear: both;
}
*/

.cols2 > li:nth-child(2n+1),
.cols3 > li:nth-child(3n+1),
.cols4 > li:nth-child(4n+1),
.cols5 > li:nth-child(5n+1),
.cols6 > li:nth-child(6n+1) {
    clear: left;
}
/* need to repeat for .colsN */
.exercise-like ol.cols2 li {
    margin-top: 0.5em;
}

.incontext {
    display: block;
    font-size: 85%;
    text-align: right;
}

.terminology {
  font-style: italic;
  font-weight: bold;
}

.emphasis {
    font-style: italic;
}
.emphasis .emphasis {
    font-weight: bold;
}




/* for long math formulas and tables to scroll on small screens */
@media screen and (max-width: 943px) {
  .displaymath {
     position: relative;
     overflow-x: auto;
     overflow-y: hidden;
  }
}


.hidden-knowl-wrapper [data-knowl]::after, .hidden-knowl-wrapper [data-knowl]:hover::after, .hidden-knowl-wrapper .active[data-knowl]::after {
    right: 7px;
}

.unselectable {  /* from Alex Jordan */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.fillin {
    display: inline-block;
    border-bottom-style: solid;
    border-width: 1px;
    margin-right: 0.1em;
    margin-bottom: -0.25em;
}
.fillin.underline {
    display: inline-block;
    border-bottom-style: solid;
    border-width: 1px;
    margin-right: 0.1em;
    margin-bottom: -0.25em;
}
.fillin.box {
    display: inline-block;
    border: none;
    margin-left: 0.1em;
    margin-right: 0.1em;
    margin-bottom: -0.25em;
    outline: 1px solid black;
    height: 1.3em;
}
.fillin.shade {
    display: inline-block;
    border: none;
    margin-right: 0.1em;
    margin-left: 0.1em;
    margin-bottom: -0.25em;
    background-color: #eee;
    height: 1.3em;
}




.exercisegroup > .conclusion {
    margin-left: 1.5em;
}

.exercise-like .introduction {
    display: inline;
}
.exercise-like .introduction .heading {
    display: inline;
}
.exercise-like .introduction .para:first-child {
    display: inline;
}
.exercise-like .introduction::after {
    content: "";
    display: block;
}
.exercise-like .conclusion::before {
    content: "";
    display: block;
    margin-top: 0.25em;
}


/* if hints and solutions are in .posterior, then
 * some of the above styling does not apply */

article.exercise-like + .posterior {
    margin-top: -0.75em;
}


article.example-like .hint {
    display: block;
}


.exercisegroup .exercisegroup-exercises.cols2, .exercisegroup .exercisegroup-exercises.cols3, .exercisegroup .exercisegroup-exercises.cols4, .exercisegroup .exercisegroup-exercises.cols5, .exercisegroup .exercisegroup-exercises.cols6 {
    width: 100%;
    display:inline-flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
}

.exercisegroup .exercisegroup-exercises.cols1 {
    display:inline;
}

.exercisegroup .cols1 > article.exercise-like {flex-basis: calc(100% - 2em);}
.exercisegroup .cols2 > article.exercise-like {flex-basis: calc(50% - 2em);}
.exercisegroup .cols3 > article.exercise-like {flex-basis: calc(33.33% - 2em);}
.exercisegroup .cols4 > article.exercise-like {flex-basis: calc(25% - 2em);}
.exercisegroup .cols5 > article.exercise-like {flex-basis: calc(20% - 2em);}
.exercisegroup .cols6 > article.exercise-like {flex-basis: calc(16.66% - 2em);}

/* math directly adajacent to words is wrapped to avoid bad line breaks */
.mathword {
    white-space: nowrap;
}

.unit,
.quantity {
    white-space: nowrap;
    word-spacing: -0.25ex;
    margin-right: 0.125em;
}
.unit sub,
.unit sup,
.quantity sub,
.quantity sup {
     word-spacing: normal;
}

.booktitle {
    font-style: oblique;
}

.objectives > .heading,
.outcomes > .heading {
    font-size: 1.25em;
}

/* Born-hidden example with a very long title */
/* http://physics.thomasmore.edu/ConnectedPhysics/sss-netforce.html */
a .heading {
    white-space: normal;
}


.solutions > a, .solutions > a:hover, .solutions > a.active,
.instructions > a, .instructions > a:hover, .instructions > a.active {
    display: inline-block;
    margin-right: 1.5em;
}

.tabular-box.natural-width table {
    margin-left: auto;
    margin-right: auto;
}

.caption {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    text-align: center;
}

// ????
// .caption .heading {
//     font-weight: bold;
// }
// .caption .counter {
//     font-weight: bold;
// }

div.quote {
    padding-left: 40px;
    padding-right: 10px;
    margin-bottom: 1em;
}

.minipage  + .minipage {
    display: inline-block;
}


.objectives {
    margin-bottom: 1.25em;
}


ol > li {
    padding-left: 0.25em;
}
ol.cols2 > li, ul.cols2 > li { width: calc(49% - 1.75em); min-width: 190px}
/*
ol.cols2 > li, ul.cols2 > li { width: 50%; min-width: 240px}
*/
ol.cols3 > li, ul.cols3 > li { width: calc(33% - 1.25em); min-width: 160px}
/*
ol.cols3 > li, ul.cols3 > li { width: 31%; min-width: 160px}
*/
ol.cols4 > li, ul.cols4 > li { width: calc(24.5% - 1.25em); min-width: 100px}
ol.cols5 > li, ul.cols5 > li { width: calc(19.5% - 0.75em); min-width: 90px}
ol.cols6 > li, ul.cols6 > li { width: calc(16.3% - 0.5em); min-width: 80px}
/* sample-article sec 5 */
ul.cols2 > li:nth-child(odd), ol.cols2 > li:nth-child(odd) {
   margin-right: 2em;
}

/*
.cols2 > li:first-child,
.cols3 > li:first-child,
.cols4 > li:first-child,
.cols5 > li:first-child,
.cols6 > li:first-child {
    margin-top: 0.5em;
}
*/

.cols2  ol,
.cols3  ol,
.cols4  ol,
.cols5  ol,
.cols6  ol {
    padding-left: 0.7em;
}
.exercisegroup-exercises > article.exercise-like {
    margin-top: 1em;
}


/* see http://bob.cs.sonoma.edu/IntroCompOrg-RPi/exercises-10.html
  for examples of an odd number of items in a cols2, followed by
  a hint */
.cols2 > li:last-child:nth-child(odd) {
    float: none !important;
    padding-top: 0.5em;
}


/* http://spot.pcc.edu/math/APEXCalculus/sec_prod_quot_rules.html
 * solution to Example 2.4.14
 */
.solution ol li {
    margin-top: 1em;
    padding-left: 0.5em;
}



.exercise-like ol li {
    margin-top: 1em;
    padding-left: 0.5em;
}

.exercise-like > .cols2 > li { width: calc(49% - 2.5em)}
.exercise-like > .cols3 > li { width: calc(33% - 2.5em)}
.exercise-like > .cols4 > li { width: calc(24.5% - 2.5em)}
.exercise-like > .cols5 > li { width: calc(19.5% - 2.5em)}
.exercise-like > .cols6 > li { width: calc(16.3% - 2.5em)}

/* A colsN in a knowl needs to be narrower because of the margin/padding of the knowl */
.knowl .exercise-like > .cols2 > li { width: calc(49% - 2em)}
/* next 4 not actually checked: just copied from cols2 */
.knowl .exercise-like > .cols3 > li { width: calc(33% - 2em)}
.knowl .exercise-like > .cols4 > li { width: calc(24.5% - 2em)}
.knowl .exercise-like > .cols5 > li { width: calc(19.5% - 2em)}
.knowl .exercise-like > .cols6 > li { width: calc(16.3% - 2em)}


.exercise-like ol li > .para:first-child {
    vertical-align: top;
    display: inline-block;
    margin-top: 0;
}


iframe {
    margin: 0;
    border: none;
    box-sizing: border-box;
    //background: var(--ptx-image-bg);
}

.times-sign {
    font-size: larger;
    vertical-align: -0.15ex;
}
/* temporary for Geogebra development: replace with a more
  restrictive selector for articles */
article.notranslate {
    margin-top: 0;
}

/*
nested tasks. see
https://pretextbook.org/examples/sample-article/html/interesting-corollary.html#aBc
*/

/* 9/27/23  added "article" because of details.exercise-like */
article.exercise-like > .exercise-like {
    margin-left: 40px;
}
article.exercise-like > .exercise-like.task {
    margin-left: 20px;
}
article.exercise-like > .exercise-like > .para {
    margin-top: 1.25em;
/*    margin-bottom: 0.25em; */
}
article.example-like > .heading + .introduction {
    display: inline;
}
article.example-like > .heading + .introduction > .para:first-child {
    display: inline;
}
article.example-like > .exercise-like > .para {
    margin-top: 1.25em;
}

/* end of nested tasks */

/* genus and species in italics */
.taxon {
    font-style: italic;
}

/* Sage stuff */
.sageanswer {
    font-family: monospace;
    white-space: pre;
    margin-left: 3em;
    margin-bottom: 2em;
}
.sageanswer .key {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
}
.sageanswer .output {
    display: inline-block;
    vertical-align: top;
}

hr.ptx-pagebreak {
    width: 30em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.0em;
    margin-top: 0;
    height: 4em;
    border: 0;
    border-bottom: 1px dashed #ccc;
}

hr.ptx-pagebreak:after {
    content: "page";
    display: inline-block;
    position: relative;
    top: 4.0em;
    font-size: 80%;
    padding: 0 0.25em;
    background: white;
}

/*
   See 10.1.8c in http://faculty.valpo.edu/calculus3ibl/ch10_01_gradient.html
and condider having this replace line 3338 of the general code (which uses .heading + p)
*/
.example-like > .exercise-like > .para:first-of-type {
    display: inline;
}
.example-like > .exercise-like > .aside-like {
    margin-top: -3em;
}
.example-like > .exercise-like > .aside-like.front {
    margin-top: 0;
}

meta {
    display: none;
}




.exercise-wrapper form button:hover {
    cursor: pointer;
    background-color: #e0e0ff;
    border: 1px solid #000;
}
.exercise-wrapper form button:active {
    background-color: #f0f0f0;
}
.exercise-wrapper form button + button {
    margin-left: 0.8em;
}

.exercise-wrapper,
.exercise-wrapper form,
.exercise-wrapper form > div:first-child {
    display: inline-block;
    vertical-align: top;
    width: 100%; /* for live ww to open at 100% wide */
}
.knowl .exercise-wrapper,
.knowl .exercise-wrapper form,
.knowl .exercise-wrapper form > div:first-child {
    width: 100%;
}
/*
.exercise-wrapper form {
     max-width: 95%;
}
*/
.exercise-wrapper > .para:first-child,
.exercisegroup .exercise-wrapper > .para:first-child {
    margin-top: 0;
    display: inline;
}
/* next is realted to having exercises start in-line with their exercise number,
   including when a static WW problem is made interactive */
/* not sure this was the right way to do it */
/* see https://opentext.uleth.ca/apex-calculus/sec_antider.html#exercise-722 */
.heading + .exercise-wrapper {
    display: inline-block;
    max-width: 95%;
    width: 100%;
}
/*
.exercisegroup .heading + .exercise-wrapper {
    width: auto;
}
*/
.cols2 .heading + .exercise-wrapper {
    width: auto;
}

/* next two need to be separate due to limitations in Chrome and Safari */
@media screen and (max-width: 600px) {
    .exercisegroup .cols2 > article.exercise-like {flex-basis: calc(100% - 2em);}
    .exercisegroup .cols3 > article.exercise-like {flex-basis: calc(100% - 2em);}
    .exercisegroup .cols4 > article.exercise-like {flex-basis: calc(50% - 2em);}
    .exercisegroup .cols5 > article.exercise-like {flex-basis: calc(50% - 2em);}
    .exercisegroup .cols6 > article.exercise-like {flex-basis: calc(33.3% - 2em);}
    .exercisegroup .cols2 .heading + .exercise-wrapper { max-width: 100%; }
}
@media screen and (max-width: 850px) and (min-width: 786px) {
    .exercisegroup .cols2 > article.exercise-like {flex-basis: calc(100% - 2em);}
    .exercisegroup .cols3 > article.exercise-like {flex-basis: calc(100% - 2em);}
    .exercisegroup .cols4 > article.exercise-like {flex-basis: calc(50% - 2em);}
    .exercisegroup .cols5 > article.exercise-like {flex-basis: calc(50% - 2em);}
    .exercisegroup .cols6 > article.exercise-like {flex-basis: calc(33.3% - 2em);}
    .exercisegroup .cols2 .heading + .exercise-wrapper { max-width: 100%; }
}


//---------------
// testing....
.para:first-child,
.autopermalink:first-child + .para {
  margin: 0;
}

.para {
  margin: 1em 0;
}

/*       -----      */

article > * {
  margin-top: 0.75em;
}

section > * {
  margin-top: 0.75em;
}
