// Entry point for common web styling

@use 'body';
@use 'lists';
@use 'toc-basics';
@use 'summary-links';
@use 'front-matter';
@use 'index';
@use 'footnotes';
@use 'tables';
@use 'media';
@use 'headings';
@use 'figures';
@use 'poem';
@use 'codelike';
@use 'prism';
@use 'runestone';
@use 'calculators';
@use 'math';
@use 'webwork';
@use 'printing';
@use 'links';
@use 'worksheet';
@use 'sagecell';
@use 'permalinks';
@use 'google-search';
@use 'sidebyside';
@use 'decorative';
@use 'misc-content';
@use 'solutions';
@use 'cols';
@use 'exercises';

// all styling assumes border-box layout measurement
* {
  box-sizing: border-box;
}

// // base line spacing
// // used to happen in .para, but that lead to inconsistent spacing for items not in .paras
// test without... seems better
// .ptx-content {
//   line-height: 1.35;
// }

// minimal spacing around items in a section or article
// VERY unspecific selectors - just about anything will override them
section > * {
  margin-top: 1.5em;
}
article > * {
  margin-top: 1em;
}

// tighten up spacing slightly for adjacent paragraphs in a section
.para + .para {
  margin-top: 1em;
}