
/* Start of division toc links */
.summary-links {
  font-family: var(--font-headings);
  display: block;

  a {
    color: var(--linkColor);
    background: var(--navbarbackground);
    font-size: 1.5em;
    line-height: 1.25em;
    padding: 10px 20px;
    border-radius: 3px;
    position: relative;
    display: block;

    .title{
      font-style: normal;
    }

    .codenumber {
      margin-right: 0.41667em;
    }

    &::after {
      // triangles
      right: 0.83333em;
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -0.4em;
      width: 0;
      height: 0;
      border-top: 0.4em solid transparent;
      border-bottom: 0.4em solid transparent;
      border-left: 0.4em solid var(--linkColor);
    }

    &:hover {
      color: var(--mainbackground);
      background: var(--linkColor);

      &::after {
        border-left: 0.4em solid var(--mainbackground);
      } 
    } 
  }

  ul {
      list-style-type:none;
  }

  li {
      margin-top: 5px;
  }
}


@media screen and (width <= 600px) {
  // center at med/small sizes
  .summary-links ul {
    margin-left: calc((100vw - 100%) / 2);
    margin-right: calc((100vw - 100%) / 2);
    padding: 0;
  }
}

@media screen and (width <= 480px) {
  .summary-links a {
    font-size: 1em;
    line-height: 1.25em;
  }
}