// ---------------------------------------------------------
// Common styling of ol/ul
// ---------------------------------------------------------

.ptx-content {
    ol.no-marker,
    ul.no-marker,
    li.no-marker {
        list-style-type: none;
    }

    ol.decimal {
        list-style-type: decimal;
    }

    ol.lower-alpha {
        list-style-type: lower-alpha;
    }

    ol.upper-alpha {
        list-style-type: upper-alpha;
    }

    ol.lower-roman {
        list-style-type: lower-roman;
    }

    ol.upper-roman {
        list-style-type: upper-roman;
    }

    ul.disc {
        list-style-type: disc;
    }

    ul.square {
        list-style-type: square;
    }

    ul.circle {
        list-style-type: circle;
    }

    ol.no-marker,
    ul.no-marker {
        list-style-type: none;
    }

    .cols1 li,
    .cols2 li,
    .cols3 li,
    .cols4 li,
    .cols5 li,
    .cols6 li {
        float: left;
    }
}  // .ptx-content
