
$palette: 'dual' !default;

.hide-type .codenumber:not(:empty)::after {
    content: " -";
}

.ptx-content section > .heading.hide-type {
    padding-bottom: 3px;
    margin-bottom: 0.5em;
}

@if $palette != 'dual' {
    .ptx-content section > .heading.hide-type {
        @if $palette == 'muted' {
            border-bottom: 2px solid #eee;
        } @else {
            // dark or single
            border-bottom: 2px solid var(--primary-color);
            .ptx-content section > h2.heading.hide-type {
                border-bottom-width: 10px;
            }
            .ptx-content section > h3.heading.hide-type {
                border-bottom-width: 5px;
            }
        }
    }
} @else {
    .ptx-content section > .heading.hide-type {
        border-bottom: 2px solid #eee;
    }
    .ptx-content section > h2.heading.hide-type {
        border-bottom-width: 4px;
    }
    .ptx-content section > h3.heading.hide-type {
        border-bottom-width: 3px;
    }
}

:root.dark-mode {
    .ptx-content section > .heading.hide-type {
        border-bottom-color: var(--primary-color-black-30);
    }
}
