/*******************************************************************************
 * Navbar Stylesheet
 *******************************************************************************
 *
 * Authors: David Farmer, Rob Beezer
 *
 *******************************************************************************
 */

@use 'components/buttons/buttons-default' as buttons;

.ptx-navbar {
  position: sticky;
  top: 0;
  height: 36px;
  background: var(--navbarbackground);
  border: 0;
  border-top: 1px solid var(--page-border-color);
  border-bottom: 1px solid var(--page-border-color);
  margin: 0;
  z-index: 500;
  overflow: visible;
  display: flex;

  .button {
    @include buttons.ptx-button;

    & {
      // selector used to force future behavor at Sass 1.77
      // Disable normal borders - top/bottom provided by container
      border-width: 0;
      border-left-width: 1px;
      border-right-width: 1px;
      border-color: var(--page-border-color);
      margin-left: -1px;  //prevent double borders on neighbors
    }
  }

  .toc-toggle {
    width: 240px;
    gap: 0.4em;
    margin-left: 0;  //assumes is first button
  }

  :is(.treebuttons, .nav-runestone-controls, .nav-other-controls) {
    display: flex;
  }

  .treebuttons {
    flex: 1 1 210px;
    justify-content: end;
  }

  .nav-runestone-controls {
    flex: 1 1 70px;
    justify-content: end;
  }

  .pretext .navbar .dropdown {
    height: 34px;
  }

  .treebuttons > * {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
  }

  .treebuttons .icon {
    margin: 0 -7px;  // chevrons have lots of horizontal padding
  }

  :is(.index-button)  .icon {
    display: none;
  }

  :is(.runestone-profile, .activecode-toggle, .searchbutton, .calculator-toggle, .light-dark-button) .name {
    display: none;
  }

  .index-button {
    width: 70px;
  }

  .runestone-profile {
    @include buttons.ptx-dropdown-button;
  }
}

@media screen and (width <= 800px) {
  .ptx-navbar {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background: var(--buttonborder);
  
    .nav-runestone-controls {
      flex: 0;
    }
    .toc-toggle {
      flex: 2 1 100px;
    }
    .treebuttons {
      flex: 3 1 150px; /* 3:2 ratio with toc-toggle */
    }
    .treebuttons > * {
      flex: 1 1;
      min-width: 35px
    }
    .index-button {
      display: none;
    }

    .dropdown-content {
        top: unset;
        bottom: 36px;
    }

    :is(.toc-toggle, .previous-button, .up-button, .next-button, .calculator-toggle, .index-button) .name {
      display: none;
    }
  }
}