/* -------------------toc-------------------- */
.ptx-toc {
  --codenumber-pad-left: 0.3rem;
  --codenumber-pad-right: 0.5rem;

  --toc-indent-first: calc(1.0rem + var(--codenumber-pad-left) + var(--codenumber-pad-right));
  --toc-indent-second: calc(1.7rem + var(--codenumber-pad-left) + var(--codenumber-pad-right));
  --toc-indent-third: calc(2.2rem + var(--codenumber-pad-left) + var(--codenumber-pad-right));

  width: 240px;
  margin: 0;
  font-size: 14.72px;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 36px);  // 36px for height of the navbar
  border-right: 1px solid var(--page-border-color);
  margin-top: -2px; // hide top border of first toc item
  
  &::after {
    // Apply logo as a mask so background-color can change it. It is a separate document
    // so no other way to have styles on page affect it.
    content: "";
    mask: url("data:image/svg+xml; utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='338 3000 8772 6866'%3E%3Cg style='stroke-width:.025in; stroke:black; fill:none'%3E%3Cpolyline points='472,3590 472,9732 ' style='stroke-width:174; stroke-linejoin:miter; stroke-linecap:round; '%3E%3C/polyline%3E%3Cpath style='stroke-width:126;stroke-linecap:butt;' d='M 4724,9448 A 4660 4660 0 0 1 8598 9259 '%3E%3C/path%3E%3Cpath style='stroke-width:174;stroke-linecap:butt;' d='M 4488,9685 A 4228 4228 0 0 0 472 9732 '%3E%3C/path%3E%3Cpath style='stroke-width:126;stroke-linecap:butt;' d='M 4724,3590 A 4241 4241 0 0 1 8598 3496 '%3E%3C/path%3E%3Cpath style='stroke-width:126;stroke-linecap:round;' d='M 850,3496 A 4241 4241 0 0 1 4724 3590 '%3E%3C/path%3E%3Cpath style='stroke-width:126;stroke-linecap:round;' d='M 850,9259 A 4507 4507 0 0 1 4724 9448 '%3E%3C/path%3E%3Cpolyline points='5385,4299 4062,8125 ' style='stroke-width:300; stroke-linejoin:miter; stroke-linecap:round; '%3E%3C/polyline%3E%3Cpolyline points='8598,3496 8598,9259 ' style='stroke-width:126; stroke-linejoin:miter; stroke-linecap:round; '%3E%3C/polyline%3E%3Cpolyline points='850,3496 850,9259 ' style='stroke-width:126; stroke-linejoin:miter; stroke-linecap:round; '%3E%3C/polyline%3E%3Cpolyline points='4960,9685 4488,9685 ' style='stroke-width:174; stroke-linejoin:miter; stroke-linecap:round; '%3E%3C/polyline%3E%3Cpolyline points='3070,4582 1889,6141 3070,7700 ' style='stroke-width:300; stroke-linejoin:miter; stroke-linecap:round; '%3E%3C/polyline%3E%3Cpolyline points='6418,4582 7600,6141 6418,7700 ' style='stroke-width:300; stroke-linejoin:miter; stroke-linecap:round; '%3E%3C/polyline%3E%3Cpolyline points='8976,3590 8976,9732 ' style='stroke-width:174; stroke-linejoin:miter; stroke-linecap:round; '%3E%3C/polyline%3E%3Cpath style='stroke-width:174;stroke-linecap:butt;' d='M 4960,9685 A 4228 4228 0 0 1 8976 9732 '%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    mask-position: center;
    mask-repeat: no-repeat;
    display: block;
    height: 13em;
    margin: 1em 2em;
    background-color: var(--page-border-color);
    border-right: 1px solid var(--page-border-color);
  }

  & > .toc-item-list:first-child > .toc-item:last-child {
    border-bottom: 3px solid var(--tocborder);
  }

  /* -------------------toc-items-------------------- */
  // will be less indentation, add some padding
  &:is(.depth1, .parts.depth2) {
    --codenumber-pad-right: 0.5rem;
  }

  .toc-item-list {
    margin: 0;
    padding: 0;
    list-style: none;
    
    .active {
      list-style: none;  // clobber runestone css
    }
  }

  .toc-item {
    border-top: 1px solid var(--tocborder);
  }

  /* -------------------title-box------------------- */

  .toc-title-box {
    display: flex;
  }

  .toc-title-box > .internal {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 0.2em;
    font-weight: 500;
  }

  /* Extra border above top level items */
  & > .toc-item-list > .toc-item {
    border-top: 2px solid var(--tocborder, #d1d1d1);
  }

  
  /* at second level, switch fonts */
  .toc-item-list .toc-item-list .toc-title-box > .internal {
    font-weight: normal;
  }

  /* -------------------codenumbers-------------------- */
  .codenumber {
    min-width: var(--toc-indent-first);
    padding-left: var(--codenumber-pad-left);
    padding-right: var(--codenumber-pad-right);
    display: inline-block;
    text-align: left;
    flex-grow: 0;
  }
}



// --------------------------------------------------------------------------
// Conditional styling based on depth

/* second level of numbering */
/*  anything 1+ levels deeper than a chapter in a book */
.book .ptx-toc .toc-chapter .toc-item-list .codenumber,
/*  anything 1+ levels deeper than a section in an article */
.article .ptx-toc .toc-section .toc-item-list .codenumber,
/*  anything 1+ levels deeper than backmatter */
.ptx-toc .toc-backmatter .toc-item-list .codenumber {
  font-size: 80%;
  padding-top: 0.16em;
  min-width: var(--toc-indent-second);
}

/* third level of numbering */
/*  anything 2+ levels deeper than a chapter in a book */
.book .ptx-toc .toc-chapter .toc-item-list .toc-item-list .codenumber,
/*  anything 2+ levels deeper than a section in an article */
.article .ptx-toc .toc-section .toc-item-list .toc-item-list .codenumber,
/*  anything 2+ levels deeper than backmatter */
.ptx-toc .toc-backmatter .toc-item-list .toc-item-list .codenumber {
  min-width: var(--toc-indent-third);
  visibility: hidden;
}

/* reveal hidden numbers on interaction */
.ptx-toc .toc-item-list .toc-item-list .toc-item-list a:is(:hover, :focus) > .codenumber {
  visibility: visible;
}

/* Any toc item without a codenumber needs indentation
Can't select absence of a preceeding, so indent all titles
and then clear indent if there is a codenumber */
.ptx-toc .toc-item .toc-title-box .title {
  margin-left: var(--toc-indent-first);
}

/* second level as defined by codenumber selectors */
.book .ptx-toc .toc-chapter .toc-item-list .title,
.article .ptx-toc .toc-section .toc-item-list .title,
.ptx-toc .toc-backmatter .toc-item-list .title {
  margin-left: var(--toc-indent-second);
}

/* third level as defined by codenumber selectors */
.book .ptx-toc .toc-chapter .toc-item-list .toc-item-list .title,
.article .ptx-toc .toc-section .toc-item-list .toc-item-list .title,
.ptx-toc .toc-backmatter .toc-item-list .toc-item-list .title {
  margin-left: var(--toc-indent-third);
}

/* unless there is a codenumber */
.ptx-toc .toc-item > .toc-title-box .codenumber + .title {
  margin-left: 0 !important;
}

// --------------------------------------------------------------------------
// Conditional styling based on depth


.ptx-toc .toc-chapter .toc-item-list .title,
.ptx-toc .toc-section .toc-item-list .title,
/* 2 levels deep in back matter */
.ptx-toc .toc-backmatter .toc-item-list .toc-item-list .title {
  font-size: 90%;
}

.ptx-toc .toc-chapter .toc-item-list .toc-item-list .title,
.ptx-toc .toc-section .toc-item-list .toc-item-list .title,
/* 3 levels deep in back matter */
.ptx-toc .toc-backmatter .toc-item-list .toc-item-list .toc-item-list .title {
  font-style: italic;
}

/* -------------------depth controls-------------------- */
.ptx-toc.depth0 ul.structural {
  display: none;
}

.ptx-toc.depth1 ul.structural ul.structural {
  display: none;
}

.ptx-toc.depth2 ul.structural ul.structural ul.structural {
  display: none;
}

.ptx-toc.depth3 ul.structural ul.structural ul.structural ul.structural {
  display: none;
}

.ptx-toc.depth4 ul.structural ul.structural ul.structural ul.structural ul.structural {
  display: none;
}

/* if depth is shallow, identify best available toc item */
.ptx-toc.depth1 ul.structural .toc-item.contains-active {
  background-color: var(--chaptertocactive);
  color: var(--chaptertoctextactive);
}

.ptx-toc.depth2 ul.structural ul.structural .toc-item.contains-active {
  background-color: var(--parttocactive);
  color: var(--parttoctextactive);
}


// --------------------------------------------------------------------------
// Focused toc

/* Hide all but active area of book */
.ptx-toc.focused {

  ul.structural:not(.contains-active) > .toc-item {
    display: none;

    &.visible {
      display: block;
    }
  }

  ul.structural .toc-item.active > ul.structural > .toc-item {
    display: block;

    &.hidden {
      display: none;
    }
  }

  .toc-title-box > a:hover {
    border-right: 1px solid var(--highlighttocborder);
  }

  .toc-expander {
    border: 0;
    padding: 2px 5px;
    background: inherit;
    color: inherit;
    display: flex;
    align-items: center;

    .icon {
      font-size: 30px;
      line-height: 18px;
      font-variation-settings: 'wght' 200;
    }

    &:is(:hover) {
      background-color: var(--highlighttoc);
      color: var(--highlighttoctext);
      border-left: 1px solid var(--highlighttocborder);

      .icon {
        fill: var(--highlighttoctext);
      }
    }
  }

  .toc-item.expanded > .toc-title-box > .toc-expander > .icon {
    transform: rotate(-90deg);
  }
}