.hide-type .codenumber:not(:empty)::after {
    content: " -";
}

section > .heading.hide-type {
  color: var(--primary-color);
  padding-bottom: 5px;
  border-bottom: 2px solid var(--primary-color-white-30);
}

section.section > .heading{
  border-bottom: 5px solid var(--primary-color-white-30);
}

:root.dark-mode {
  section > .heading.hide-type {
    border-bottom-color: var(--primary-color-black-30);
  }
}
