// @use '../default-modern/shell_default-modern';
@use './rs-widening';


@mixin page-block {
  & {   // quiet sass warnings
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
  }
  @at-root {
    @media screen and (width > 1100px) {
      & {
        border-left: 1px solid var(--page-border-color);
        border-right: 1px solid var(--page-border-color);
      }
    }
  }
}


.ptx-masthead {
  .ptx-banner {
    justify-content: center;
    padding: 8px 0;
  }
  
  .title-container {
    flex: unset;
  }
  @include page-block;
}


.ptx-page {
  min-height: 100vh;
  background: var(--mainbackground);
  border-top: 1px solid transparent; // prevent border collapse
  margin-top: -1px; //hide top border
  @include page-block;
}

.ptx-main {
  max-width: var(--content-width);
  margin: 0 auto;
  padding-bottom: 2em;
  border: 0;
  overflow: visible;  // mostly for x, but not setting y forces -x to be "auto"
  width: 100%;
}

.ptx-main > .ptx-content {
  max-width: var(--content-width);
  font-size: var(--content-font-size);
  margin-top: 0;
  padding-top: 0;
}

.ptx-content-footer {
  margin: 2em auto 0;
  padding-bottom: 2em;
  justify-content: space-evenly;
}

.ptx-page-footer {
  justify-content: center;
  gap: 90px;
  border-bottom: 0;
  
  @include page-block;
}

.ptx-navbar {
  @include page-block;

  //get rid of borders on outside controls in navbar
  //first
  .toc-toggle {
    border-left: 0;
  }
  //last is either this
  &:has(.nav-runestone-controls) {
    .nav-runestone-controls button:last-of-type {
      border-right: 0;
    }
  }
  //or this
  &:not(:has(.nav-runestone-controls)) {
    .treebuttons .button:last-of-type {
      border-right: 0;
    }
  }
}