$content-width: 600px;
$content-side-padding: 120px;
//$content-width: $text-width + (2 * $text-side-padding);
//$sidebar-width: 240px;

$scrolling-toc: true;
$nav-height: 36px;

@use 'components/helpers/buttons-default' as buttons;

@use 'components/page-parts/parts-tricolumn' with(
  //$scrolling-toc: $scrolling-toc,
  $content-width: $content-width,
  $content-side-margin: $content-side-padding
);

// help links stick out
a {
  font-weight: bold;
}


.ptx-main {
  box-shadow: 10px 15px 40px -20px var(--assembborder);
}

.ptx-toc {
  background-color: var(--mainbackground);
  .toc-item {
    background-color: var(--mainbackground);
  }
}


.ptx-toc.focused .toc-expander {
  padding: 2px 0 2px 5px;
}


@media screen and (max-width: 800px) {
  .ptx-main {
    margin-left: 0;
    left: auto;
  }
  .ptx-page-footer {
    // Make space for navbar fixed to bottom of screen
    margin-bottom: $nav-height;
  }

  .ptx-sidebar {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: var(--mainbackground);
    bottom: $nav-height;
  }
  .ptx-content-footer {
    display: none;
  }
}

// Some hacks to get runestone components looking better:
.Codemirror {
  font-size: 14px;
}

.ptx-runestone-container:has(.parsons_section,.ac_section,.codelens) {
  width: calc(100% + 1.5 * var(--content-margin));
  margin-left: calc(-0.75 * var(--content-margin));
}
